<div
	class="flex items-center gap-[5px] text-nowrap font-titles text-[10px] font-light leading-[1.45] tracking-[0.3px] text-white"
>
	<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_1319_2883)">
			<path d="M0.25 0H6.78596V6.52853H0.25V0Z" fill="#F25022"></path>
			<path d="M7.46826 0H14.0042V6.52853H7.46826V0Z" fill="#7FBA00"></path>
			<path d="M0.25 7.20996H6.78596V13.7385H0.25V7.20996Z" fill="#00A4EF"></path>
			<path d="M7.46826 7.20996H14.0042V13.7385H7.46826V7.20996Z" fill="#FFB900"></path>
		</g>
		<defs>
			<clipPath id="clip0_1319_2883">
				<rect width="14" height="14" fill="white" transform="translate(0.25)"></rect>
			</clipPath>
		</defs>
	</svg>
	Startups Founders <span class="hidden sm:inline">Hub</span>
</div>
