<a
	href="https://bubble.io/agency/sidetool"
	target="_blank"
	rel="noopener noreferrer"
	class="linear-gradient-to-r flex items-center justify-center gap-[5px] text-nowrap rounded-full bg-gradient-to-r from-[#FFDA81] to-[#FDCA51] px-[10px] py-[5px] font-titles text-[10px] font-light leading-[1.45] tracking-[0.3px] text-black"
>
	<svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
		<g clip-path="url(#clip0_1319_2870)">
			<path
				d="M9.579 5.04719C8.13996 5.04719 6.72452 5.65531 5.63935 6.85986V0.930664H3.50439V10.9179C3.50439 14.1573 6.15835 16.7886 9.42566 16.7886C12.693 16.7886 15.3469 14.1573 15.3469 10.9179C15.3469 7.67849 12.8463 5.04719 9.579 5.04719ZM9.42566 14.5316C7.40865 14.5316 5.7809 12.9177 5.7809 10.9179C5.7809 8.92982 7.40865 7.30426 9.42566 7.30426C11.4427 7.30426 13.0704 8.91812 13.0704 10.9179C13.0704 12.906 11.4427 14.5316 9.42566 14.5316Z"
				fill="black"></path>
			<path
				d="M1.947 16.789C2.75478 16.789 3.40962 16.1397 3.40962 15.3388C3.40962 14.5379 2.75478 13.8887 1.947 13.8887C1.13921 13.8887 0.484375 14.5379 0.484375 15.3388C0.484375 16.1397 1.13921 16.789 1.947 16.789Z"
				fill="#0000FF"></path>
		</g>
		<defs>
			<clipPath id="clip0_1319_2870">
				<rect width="16.0417" height="17.7759" fill="white" transform="translate(0.0834961 0.111816)"></rect>
			</clipPath>
		</defs>
	</svg>
	<span class="translate-y-[1px]">Gold Partner</span>
</a>
