---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MinimalLayout from '@layouts/MinimalLayout.astro';
import MinimalHero from '@components/MinimalHero.astro';
import TrustedBy from '@components/TrustedBy.astro';
import ImpactMetrics from '@components/ImpactMetrics.astro';
import KlevaEngine from '@components/KlevaEngine.astro';
import KlevaCapabilities from '@components/KlevaCapabilities.astro';
import ResultsROI from '@components/ResultsROI.astro';
import FAQandSchedule from '@components/FAQandSchedule.astro';
---

<MinimalLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <MinimalHero />
    <TrustedBy />
    <ImpactMetrics />
    <KlevaEngine />
    <KlevaCapabilities />
    <ResultsROI />
    <FAQandSchedule />
  </main>
</MinimalLayout>