---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MinimalLayout from '@layouts/MinimalLayout.astro';
import MinimalHero from '@components/MinimalHero.astro';
import MinimalFeatures from '@components/MinimalFeatures.astro';
import CollapsibleFAQ from '@components/CollapsibleFAQ.astro';
---

<MinimalLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <MinimalHero />
    <MinimalFeatures />
    <CollapsibleFAQ />
  </main>
</MinimalLayout>