---
//Libraries
import Image from 'astro/components/Image.astro';

//Assets
import LogoFull from '../assets/sidetool__logo.svg';
import LogoDarkMode from '../assets/sidetool__logo__dark.svg';
---

<div class="h-9 w-fit">
	<div class="relative h-full">
		<!-- <Image src={LogoFull} alt="Sidetool" width={1741} height={584} class="left-0 top-0 h-full w-auto" /> -->
		<Image src={LogoDarkMode} alt="Sidetool" width={108} height={36} class="left-0 top-0 h-full w-auto" />
	</div>
</div>
