---

---

<div>
	<a href="/automations" class="solution__item">
		<h6>
			<div class="circle violet"></div>
			AI Agents & Automations
		</h6>
		<p>Work Smarter, automate the rest with high efficient workflows and tools.</p>
	</a>
	<a href="/solution/startup-apps" class="solution__item">
		<h6>
			<div class="circle green"></div>
			Scalable Apps
		</h6>
		<p>Apps that handle surging users and feature updates.</p>
	</a>
	<a href="/solution/scalable-apps" class="solution__item">
		<h6>
			<div class="circle blue"></div>
			Startup Apps
		</h6>
		<p>Transform those brainwaves into a real, living MVP to test.</p>
	</a>
	<a href="/case-studies" class="solution__item">
		<h6>Use cases</h6>
		<p>We create products that people love using. Explore some solutions that we built.</p>
	</a>
</div>

<style>
	a {
		display: grid;
		gap: 6px;
		padding: 12px 0;
	}
	h6 {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 16px;
		font-family: var(--font-titles);
		line-height: 1.25;
	}
	p {
		font-size: 12px;
		color: rgba(var(--clr-white), 0.6);
	}
	.circle {
		width: 4px;
		height: 4px;
		border-radius: 999px;
		background-color: rgb(var(--clr-white));

		&.violet {
			background-color: rgb(var(--clr-violet));
		}
		&.green {
			background-color: rgb(var(--clr-green));
		}
		&.blue {
			background-color: rgb(var(--clr-blue));
		}
	}
</style>
