---
import BaseHead from '@components/BaseHead.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image="/og-image.jpg" />
		<!-- Meta Pixel Code -->
		<script>
			// @ts-nocheck
			!(function (f, b, e, v, n, t, s) {
				if (f.fbq) return;
				n = f.fbq = function () {
					n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
				};
				if (!f._fbq) f._fbq = n;
				n.push = n;
				n.loaded = !0;
				n.version = '2.0';
				n.queue = [];
				t = b.createElement(e);
				t.async = !0;
				t.src = v;
				s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s);
			})(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '9945382758901086');
			fbq('track', 'PageView');
		</script>
		<noscript
			><img
				height="1"
				width="1"
				style="display:none"
				src="https://www.facebook.com/tr?id=9945382758901086&ev=PageView&noscript=1"
			/></noscript
		>
		<!-- End Meta Pixel Code -->
	</head>
	<body class="overflow-x-hidden">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TB4ZMW6Q"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<script src="../js/app.js"></script>

		<slot />
	</body>
</html>
