---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer/Footer.astro';
import MobileMenu from '@components/MobileMenu.astro';
import SiteNavigation from '@components/SiteNavigation.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead title={title} description={description} image="" />
	<body class="overflow-x-hidden">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TB4ZMW6Q"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<SiteNavigation />
		<MobileMenu />
		<script src="../js/app.js"></script>

		<slot />
		<Footer />
	</body>
</html>
